<h1> Seja bem-vindo! </h1>

<p> Data: <%= date_br(Date.today) %> </p>

<%= render "menu" %>

<p> 
Você está em um ambiente de <%= ambiente_rails =%>
</p>

<p> Olá! Eu sou uma variável de instância: <%= @meu_nome %> 
</p>

<p>
Meu curso é o <%= @curso %>
</p>
