<p class="text-success"><%= notice %></p>
<h1 class="display-4"><%= t('coin_button') %></h1>
<div id="coins" class="row">
  <% @coins.each do |coin| %>
    <div class="col-md-4">
      <%= render coin %>
      <p>
        <%= link_to t('links.show'), coin, class: "btn btn-primary btn-sm" %>
      </p>
    </div>
  <% end %>
</div>
<%= link_to t('links.new'), new_coin_path, class:"btn btn-success" %>
