<p class="text-success"><%= notice %></p>
<h1 class="display-4"><%= t('coin_button') %></h1>
<div id="coins" class="row">
  <% @coins.each do |coin| %>
    <div class="col-md-4">
      <%= render coin %>
      <p>
        <%= link_to t('links.show'), coin, class: "btn btn-primary btn-sm m-2" %>
      </p>
    </div>
  <% end %>
</div>
<%= link_to t('new.coin'), new_coin_path, class:"btn btn-success m-2" %>
<%= link_to t('links.back'), welcome_index_path, class:"btn btn-primary m-2" %>
